<style>
  .dropdown-menu {
    display: none; /* Скрываем меню по умолчанию */
    position: absolute; /* Позиционируем меню относительно родителя */
    background-color: white; /* Цвет фона меню */
    border-radius: 5px; /* Скругление углов */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Тень для меню */
    z-index: 1000; /* Убедитесь, что меню выше других элементов */
    padding: 10px; /* Отступы внутри меню */
    width: 400px; /* Ширина меню */
}
.dropdown:hover .dropdown-menu {
    display: block; /* Показываем меню при наведении на родителя */
}
.dropdown-columns {
    display: flex; /* Используем Flexbox для горизонтального расположения колонок */
    justify-content: space-between; /* Распределяем пространство между колонками */
}
.dropdown-column {
    flex: 1; /* Каждая колонка занимает равное пространство */
    margin-right: 20px; /* Отступ между колонками */
}
.dropdown-column:last-child {
    margin-right: 0; /* Убираем отступ у последней колонки */
}
.dropdown-header {
    font-weight: bold; /* Жирный шрифт для заголовков */
    margin-bottom: 10px; /* Отступ снизу */
}
.dropdown-item {
    padding: 5px 10px; /* Отступы для элементов меню */
    color: #333; /* Цвет текста */
    text-decoration: none; /* Убираем подчеркивание */
}
.dropdown-item:hover {
    background-color: #f0f0f0; /* Цвет фона при наведении на элемент */
}
    .icon_header {
    display: block;
    width: 230px;
    height: 60px;
}

</style>

<div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
    <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
        <img class="icon_header" src="{{ url_for('static', filename='images/icon.png') }}" alt="Атомэнергопроект">
    </a>
    <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
        <li><a href="{{ url_for('main.show') }}" class="nav-link px-2 text-secondary">Дом</a></li>
        {% if current_user.is_authenticated %}
            <li><a href="{{ url_for('main.show') }}" class="nav-link px-2 text-white">Теория</a></li>
<li class="dropdown">
                <a href="#" class="nav-link px-2 text-white dropdown-toggle" id="gamesDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false" style="pointer-events: none;">Игры</a>
                <div class="dropdown-menu" aria-labelledby="gamesDropdown">
                    <div class="dropdown-columns">
                        <div class="dropdown-column">
                            <h6 class="dropdown-header">Интерактивный квиз</h6>
                            <a class="dropdown-item" href="{{ url_for('Iquiz.interactive_quiz', type_id=2, game_name='Взрыв реактора') }}">Тема: Взрыв реактора</a>
                            <a class="dropdown-item" href="{{ url_for('main.show') }}">Тема 2</a>
                            <a class="dropdown-item" href="{{ url_for('main.show') }}">Тема 3</a>
                        </div>
                        <div class="dropdown-column">
                            <h6 class="dropdown-header">Сортировка отходов</h6>
                            <a class="dropdown-item" href="{{ url_for('main.show') }}">Тема 1</a>
                            <a class="dropdown-item" href="{{ url_for('main.show') }}">Тема 2</a>
                            <a class="dropdown-item" href="{{ url_for('main.show') }}">Тема 3</a>
                        </div>
                    </div>
                </div>
            </li>
            <li><a href="{{ url_for('main.show') }}" class="nav-link px-2 text-white">ИИ</a></li>
            {% if current_user.has_role('Администратор') %}
                <li><a href="{{ url_for('role.show') }}" class="nav-link px-2 text-white">Роли</a></li>
                <li><a href="{{ url_for('user.show') }}" class="nav-link px-2 text-white">Пользователи</a></li>
            {% endif %}
        {% endif %}
    </ul>

        <div class="text-end">
            {% if current_user.is_authenticated%}
               <span style="font-weight: bold; color: #6f42c1; font-size: 20px; padding: 10px;">{{ current_user.login }}</span>
                <a  href = "{{url_for('user.logout')}}" class="btn btn-outline-light me-2">Выйти</a>
            {%else%}
                <a  href = "{{url_for('user.login')}}" class="btn btn-outline-light me-2">Авторизоваться</a>

            {%endif%}
        </div>
</div>